# Telegram client library
pyrogram==2.0.106
tgcrypto

# MongoDB async driver
motor==3.7.1

# Environment variable loader
python-dotenv==1.0.1

# For deployment on Render/Heroku
uvloop; sys_platform != "win32"
httpx
